{% macro ver_bolson(bolson) %}
<div class="col-md-5 col-sm-1 d-flex p-2 bd-highlight">
  <div>
    <ul class="list-unstyled">
      <li class="p-2">
        <img class="img-fluid" src="https://via.placeholder.com/100x100">
      </li>
      <li class="p-2">
        <img class="img-fluid" src="https://via.placeholder.com/100x100">
      </li>
      <li class="p-2">
        <img class="img-fluid" src="https://via.placeholder.com/100x100">
      </li>
    </ul>
  </div>
  <div class="p-2">
    <img class="img-fluid" src="https://via.placeholder.com/400x400">
  </div>
</div>
<div class="col-md-3 col-sm-1 d-flex p-2 bd-highlight">
  <div>
    <h3>{{bolson.nombre}}</h3>
    <h1>{{bolson.precio}}</h1>
    <h5>Productos que contiene:</h5>
    {% if bolson.productos %}
      <ul style="list-style-type:circle;">
        {% for producto in bolson.productos %}
          <li class="d-flex mb-3">
            <div class="me-auto">
              <p>{{producto.nombre}}</p>
            </div>
            <div class="ms-auto">
              <p>Cantidad: 1</p>
            </div>
            <div class="ms-auto">
              <a href="{{url_for('productos.ver', id=producto.productoid)}}">Ver</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="d-flex justify-content-center">
      <div class="p-2 m-1">
        <h6>Aprobado: </h6>
      </div>
      <div>
        <select class="m-1 p-2"size="1">
          {% if bolson.aprobado %}
            <option selected="selected">Si</option>
            <option>No</option>
          {% else %}
            <option selected="selected">No</option>
            <option>Si</option>
          {% endif %}
        </select>
      </div>
    </div>
    <div>
      <p>{{bolson.fecha}}</p> 
    </div>
    <div class="d-flex justify-content-center m-2">
      <button class="btn btn-primary m-2" type="button">Guardar cambios</button>
      <button class="btn btn-primary m-2" type="button" onclick="history.back()">Volver</button>
    </div>
  </div>
</div>
{% endmacro %}

{% macro mostrar_card_bolson(bolson) %}
{% if bolson.aprobado %}
<div class="col-md-2 col-sm-6 pt-3">
  <div class="card">
    <img src="https://via.placeholder.com/100x100" class="card-img-top" alt="imagen bolson">
    <div class="card-body">
      <h5 class="card-title">{{bolson.nombre}}</h5>
      <p class="card-text">{{bolson.precio}}</p>
        <div class="d-grid gap-2">
          <a href="{{url_for('bolsones.ver', id=bolson.id)}}" class="btn btn-primary">Ver</a>
        </div>
    </div>
  </div>
</div>
{% endif %}
{% endmacro %}
