{% macro ver_compra(compra, user) %}
<div style="padding: 30px">
  <h3>Datos compra #{{compra.id}}</h3>
  <form>
    <div class="row mb-3">
      <div class="col d-flex justify-content-center p-2">
        <img class="img-fluid" src="http://via.placeholder.com/400x400">
      </div>
      <div class="col p-2">
        <p><b>Bolsón:</b> {{compra.bolson}}</p>
        <p><b>Cliente:</b> {{compra.cliente}}</p>
        <p><b>Fecha:</b> {{compra.fechaHoraCompra}}</p>
        <p><b>Precio:</b> ${{compra.precio}}</p>
        <div class="d-flex">
          <div class="d-flex">
            <p><b>Aprobado: </b></p>
              {% if compra.retirado %}
              <p style="color:green">Si</p>
              {% else %}
              <p style="color:red">No</p>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col d-flex justify-content-end mt-4">
            {% if user.is_authenticated and user.role == 'admin' %}
            {% if compra.retirado %}
            <a type="button" class="btn btn-danger m-1" href="{{url_for('compras.no_retirado', id=compra.id)}}">Marcar sin retirar</a>
            {% else %}
            <a type="button" class="btn btn-success m-1" href="{{url_for('compras.retirado', id=compra.id)}}">Marcar retirado</a>
            {% endif %}
            {% endif %}
        <button class="btn btn-primary m-1" type="button" onclick="history.back()">Volver</button>
      </div>
    </div>
  </form>
</div>
{% endmacro %}

{% macro compras(compra) %}
<tr>
  <td>{{compra.id}}</td>
  <td>{{compra.fechaHoraCompra}}</td>
  <td>{{compra.cliente}}</td>
  {% if compra.retirado %}
  <td style="color:green">Si</td>
  {% else %}
  <td style="color:red">No</td> 
  {% endif %}
  <td><a href="{{url_for('compras.ver', id=compra.id)}}" class="btn btn-primary">Ver</a></td>
  <td>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#compra{{compra.id}}">
      Eliminar
    </button>
    <div class="modal fade" id="compra{{compra.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Eliminar compra</h5>
          </div>
          <div class="modal-body">
            ¿Está seguro que quiere eliminar el compra?
          </div>
          <div class="modal-footer">
            <a href="{{url_for('compras.eliminar', id=compra.id)}}" class="btn btn-danger">Eliminar</a>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </td>
</tr>
{% endmacro %}

{% macro mis_compras(compra) %}
<tr>
  <th>{{compra.id}}</th>
  <td>{{compra.bolson}}</td>
  <td>{{compra.fechaHoraCompra}}</td>
  {% if compra.retirado %}
  <td style="color:green">Si</td>
  {% else %}
  <td style="color:red">No</td>
  {% endif %}
  <td>${{compra.precio}}</td>
</tr>
{% endmacro %}
