{% macro ver_producto(producto) %}
<div class="col-md-4 col-sm-1 d-flex justify-content-center p-2 bd-highlight">
  <div class="p-2">
    <img class="img-fluid" src="https://via.placeholder.com/400x400">
  </div>
</div>
<div class="col-md-4 col-sm-1 d-flex p-2 bd-highlight">
  <div class="row">
    <div>
      <h3>{{producto.nombre}}</h3>
      <h6>Descripción:</h6>
      <p>{{producto.descripcion}}</p
      <p>{{producto.proveedorid}}</p>
      <div>
        <p><b>Proveedor: </b>{{producto.proveedor}}</p>
      </div>
    </div>
    <div class="row">
      <div class="d-flex align-self-end justify-content-end m-2">
        <button class="btn btn-primary m-2" type="button" onclick="history.back()">Volver</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro productos(producto) %}
<tr>
  <td>{{producto.nombre}}</td>
  <td>{{producto.proveedor}}</td>
  <td><a href="{{url_for('productos.ver', id=producto.id)}}" class="btn btn-primary">Ver</a></td>
  <td>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Eliminar
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Eliminar producto</h5>
          </div>
          <div class="modal-body">
            ¿Está seguro que quiere eliminar el producto?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
  </td>
</tr>
{% endmacro %}
