{% macro usuario_datos(usuario) %}
<div class="col-md-6 col-sm-1 border border-1">
  <div style="padding: 30px">
    <h3>Datos Personales</h3>
    <div class="d-flex">
      <div class"col-md-4">
        <div class="mb-3">
          <h5>Nombre</h5>
          <p>{{usuario.nombre}}</p>
        </div>
        <div class="mb-3">
          <h5>Email</h5>
          <p>{{usuario.email}}</p>
        </div>
        <!-- <div class="mb-3">
          <h5>Contraseña</h5>
          <p>{{usuario.password}}</p>
        </div> -->
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="mb-3">
          <h5>Apellido</h5>
          <p>{{usuario.apellido}}</p>
        </div>
        <div class="mb-3">
          <h5>Teléfono</h5>
          <p>{{usuario.telefono}}</p>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <button class="btn btn-primary m-1" type="button" onclick="history.back()">Volver</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro eliminar_cuenta(usuario) %}
{% if usuario.role == 'cliente' %}
<div class="row d-flex flex-row-reverse">
  <div class="col-md-2 col-sm-1 d-flex justify-content-end">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Eliminar cuenta
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Eliminar cuenta</h5>
          </div>
          <div class="modal-body">
            ¿Está seguro que quiere eliminar su cuenta?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endmacro %}

{% macro proveedores(proveedor) %}
<tr>
  <td>{{proveedor.nombre}}</td>
  <td>{{proveedor.apellido}}</td>
  <td>{{proveedor.email}}</td>
  <td>{{proveedor.telefono}}</td>
  <td><a href="{{url_for('proveedores.ver', id=proveedor.id)}}" class="btn btn-primary">Editar</a></td>
  <td>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#proveedor{{proveedor.id}}">
      Eliminar
    </button>
    <div class="modal fade" id="proveedor{{proveedor.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Eliminar proveedor</h5>
          </div>
          <div class="modal-body">
            ¿Está seguro que quiere eliminar el proveedor {{proveedor.nombre}}?
          </div>
          <div class="modal-footer">
            <a href="{{url_for('proveedores.eliminar', id=proveedor.id)}}" class="btn btn-danger">Eliminar</a>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
  </td>
</tr>
{% endmacro %}

{% macro clientes(cliente) %}
<tr>
  <td>{{cliente.nombre}}</td>
  <td>{{cliente.apellido}}</td>
  <td>{{cliente.email}}</td>
  <td>{{cliente.telefono}}</td>
  <td><a href="#" class="btn btn-primary">Editar</a></td>
  <td>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cliente{{cliente.id}}">
      Eliminar
    </button>
    <div class="modal fade" id="cliente{{cliente.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Eliminar cliente</h5>
          </div>
          <div class="modal-body">
            ¿Está seguro que quiere eliminar el cliente?
          </div>
          <div class="modal-footer">
            <a href="{{url_for('usuarios.eliminar', id=cliente.id)}}" class="btn btn-danger">Eliminar</a>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
  </td>
</tr>
{% endmacro %}

{% from 'macros/form_macros.html' import MostrarCampo, MostrarEnvio %}
{% macro admin(usuario, formulario) %}
      <form method="POST" action="{{url_for('usuarios.admin')}}">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="row mb-3">
          <div class="col">
            {{MostrarCampo(formulario.nombre, class="form-control", value="{{usuario.nombre}}")}}
          </div>
          <div class="col">
            {{MostrarCampo(formulario.apellido, class="form-control")}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            {{MostrarCampo(formulario.email, class="form-control")}}
          </div>
          <div class="col">
            {{MostrarCampo(formulario.telefono, class="form-control")}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            {{MostrarCampo(formulario.password, class="form-control")}}
          </div>
          <div class="col">
            {{MostrarCampo(formulario.confirmar, class="form-control")}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col d-flex justify-content-end mt-4">
            {{MostrarEnvio(formulario.envio, class="btn btn-primary m-1")}}
            <button class="btn btn-primary m-1" type="button" onclick="history.back()">Volver</button>
          </div>
        </div>
      </form>
{% endmacro %}
