{% extends "main.html" %}
{% from "macros/form_macros.html" import MostrarCampo, MostrarEnvio %}
{% block content %}
<div class="row">
  <div class="col-md-1 col-sm-1"></div> 
  <div class="col-md-10 col-sm-1 border border-1">
    <div style="padding: 30px">
      <h3>Mi cuenta</h3>
      {% if current_user.role == 'admin' %}
      <form method="POST" action="{{url_for('usuarios.admin', id=usuario.id)}}">
      {% elif current_user.role == 'proveedor' %}
      <form method="POST" action="{{url_for('usuarios.proveedor', id=usuario.id)}}">
      {{formulario.csrf_token()}}
      {% elif current_user.role == 'cliente' %}
      <form method="POST" action="{{url_for('usuarios.cliente', id=usuario.id)}}">
      {% endif %}
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="row mb-3">
          <div class="col">
            {{MostrarCampo(formulario.nombre, class="form-control", value=usuario.nombre)}}
          </div>
          <div class="col">
            {{MostrarCampo(formulario.apellido, class="form-control", value=usuario.apellido)}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            {{MostrarCampo(formulario.email, class="form-control", value=usuario.email)}}
          </div>
          <div class="col">
            {{MostrarCampo(formulario.telefono, class="form-control", value=usuario.telefono)}}
          </div>
        </div>
        <div class="row mb-3">
          <!-- <div class="col">
            {#{MostrarCampo(formulario.password, class="form-control", value=usuario.password)}#} -->
          <!-- </div>
          <div class="col">
            {#{MostrarCampo(formulario.confirmar, class="form-control", value=usuario.password)}#}
          </div> -->
        </div>
        <div class="row mb-3">
          <div class="col d-flex justify-content-end mt-4">
            <div class="col-md-2 col-sm-1 d-flex justify-content-end">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Guardar cambios
              </button>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Guardar cambios</h5>
                    </div>
                    <div class="modal-body">
                      Ingrese su contraseña para modificar su perfil.
                      </br>
                      </br>
                      {{MostrarCampo(formulario.password, class="form-control", value=usuario.password)}}
                    </div>
                    <div class="modal-footer">
                      {{MostrarEnvio(formulario.envio, class="btn btn-primary m-1")}}
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {#{MostrarEnvio(formulario.envio, class="btn btn-primary m-1")}#}
            <button class="btn btn-primary m-1" type="button" onclick="history.back()">Volver</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-1 col-sm-1"></div>
</div>
{% endblock %}
