{% extends "main.html" %}
        {% block content %}
        <div class="row">
        <div class="col-md-10 col-sm-6">
          <h3>Bolsones</h3>
        </div>
        <div class="col-md-2 col-sm-6">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item active " aria-current="page">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-6">
          <div class="card">
            <img src="https://via.placeholder.com/100x100" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bolson</h5>
              <p class="card-text">$ 000</p>
              <div class="d-grid gap-2">
                <a href="{{url_for('bolsones.ver', id=1)}}" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="card">
            <img src="https://via.placeholder.com/100x100" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bolson</h5>
              <p class="card-text">$ 000</p>
              <div class="d-grid gap-2">
                <a href="{{url_for('bolsones.ver', id=2)}}" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="card">
            <img src="https://via.placeholder.com/100" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bolson</h5>
              <p class="card-text">$ 000</p>
              <div class="d-grid gap-2">
                <a href="{{url_for('bolsones.ver', id=3)}}" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="card">
            <img src="https://via.placeholder.com/100" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bolson</h5>
              <p class="card-text">$ 000</p>
              <div class="d-grid gap-2">
                <a href="{{url_for('bolsones.ver', id=4)}}" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="card">
            <img src="https://via.placeholder.com/100" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bolson</h5>
              <p class="card-text">$ 000</p>
              <div class="d-grid gap-2">
                <a href="{{url_for('bolsones.ver', id=5)}}" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="card">
            <img src="https://via.placeholder.com/100" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bolson</h5>
              <p class="card-text">$ 000</p>
              <div class="d-grid gap-2">
                <a href="{{url_for('bolsones.ver', id=6)}}" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="card">
            <img src="https://via.placeholder.com/100x100" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bolson</h5>
              <p class="card-text">$ 000</p>
              <div class="d-grid gap-2">
                <a href="{{url_for('bolsones.ver', id=7)}}" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="card">
            <img src="https://via.placeholder.com/100x100" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bolson</h5>
              <p class="card-text">$ 000</p>
              <div class="d-grid gap-2">
                <a href="{{url_for('bolsones.ver', id=8)}}" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="card">
            <img src="https://via.placeholder.com/100" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bolson</h5>
              <p class="card-text">$ 000</p>
              <div class="d-grid gap-2">
                <a href="{{url_for('bolsones.ver', id=9)}}" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="card">
            <img src="https://via.placeholder.com/100" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bolson</h5>
              <p class="card-text">$ 000</p>
              <div class="d-grid gap-2">
                <a href="{{url_for('bolsones.ver', id=10)}}" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="card">
            <img src="https://via.placeholder.com/100" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bolson</h5>
              <p class="card-text">$ 000</p>
              <div class="d-grid gap-2">
                <a href="{{url_for('bolsones.ver', id=11)}}" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="card">
            <img src="https://via.placeholder.com/100" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bolson</h5>
              <p class="card-text">$ 000</p>
              <div class="d-grid gap-2">
                <a href="{{url_for('bolsones.ver', id=12)}}" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="./bolsones.html" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="./bolsones.html">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="./bolsones.html">2</a></li>
          <li class="page-item"><a class="page-link" href="./bolsones.html">3</a></li>
          <li class="page-item">
            <a class="page-link" href="./bolsones.html" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      {% endblock %}
