{% extends "main.html" %}
{% import 'macros/bolson.html' as macro %}
{% from 'macros/form_macros.html' import MostrarCampo, MostrarEnvio %}
{% block content %}
<div class="row">
  <div class="col-md-7 col-sm-4">
    <h3>Bolsones</h3>
  </div>
  <div class="col-md-3 col-sm-4">
    <form method="GET" action="{{url_for('bolsones.ver_todos_en_venta')}}">
      <div class="form-row">
        <div class="form-group d-flex col-md-12">
          {{ MostrarCampo(filter.nombre, class="form-control", placeholder="Buscar")}} {{ MostrarEnvio(filter.envio, class="btn btn-primary")}}
        </div>
        <!-- <div class="form-group d-flex col-md-1">
          {{ MostrarEnvio(filter.envio, class="btn btn-primary")}}
        </div> -->
      </div>
    </form>
  </div>
<!-- </div>
<div class="row"> -->
  <div class="col-md-2 col-sm-4">
    <nav aria-label="Pagination">
      <ul class="pagination justify-content-center">
        {%if pagination.current_page != 1 %}
        <li class="page-item">
          <a class="page-link" href="{{url_for('bolsones.ver_todos_en_venta', page = (pagination.current_page-1), nombre = request.args.nombre)}}">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
        {% for n in range(1, pagination.pages+1) %}
        {% if n != pagination.current_page %}
        <li class="page-item" aria-current="page">
          <a class="page-link" href="{{url_for('bolsones.ver_todos_en_venta', page = n, nombre = request.args.nombre)}}">{{n}}</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">{{n}}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if pagination.current_page != pagination.pages %}
        <li class="page-item">
          <a class="page-link" href="{{url_for('bolsones.ver_todos_en_venta', page = (pagination.current_page+1), nombre = request.args.nombre)}}">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
<div class="row">
  {% for bolson in bolsones %}
  {{ macro.mostrar_card_bolson(bolson) }}
  {% endfor %}
</div>
<br/>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="./bolsones.html" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="./bolsones.html">1</a>
    </li>
    <li class="page-item"><a class="page-link" href="./bolsones.html">2</a></li>
    <li class="page-item"><a class="page-link" href="./bolsones.html">3</a></li>
    <li class="page-item">
      <a class="page-link" href="./bolsones.html" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}
