{% extends "main.html" %}
      {% block content %}
      <div class="row">
        <div class="col-md-12 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-1"></div>
        <div class="col-md-5 col-sm-1 d-flex p-2 bd-highlight">
          <div>
            <ul class="list-unstyled">
              <li class="p-2">
                <img class="img-fluid" src="https://via.placeholder.com/100x100">
              </li>
              <li class="p-2">
                <img class="img-fluid" src="https://via.placeholder.com/100x100">
              </li>
              <li class="p-2">
                <img class="img-fluid" src="https://via.placeholder.com/100x100">
              </li>
            </ul>
          </div>
          <div class="p-2">
            <img class="img-fluid" src="https://via.placeholder.com/400x400">
          </div>
        </div>
        <div class="col-md-3 col-sm-1 d-flex p-2 bd-highlight">
          <div>
            <h3>Bolson 1</h3>
            <h1>$99.99</h1>
            <h5>Productos que contiene:</h5>
            <ul>
              <li class="d-flex mb-3">
                <div class="me-auto">
                  <p>Producto</p>
                </div>
                <div>
                  <p>Cantidad: 1</p>
                </div>
                <div class="ms-auto">
                  <a href="./producto.html">Ver</a>
                </div>
              </li>
              <li class="d-flex mb-3">
                <div class="me-auto">
                  <p>Producto</p>
                </div>
                <div>
                  <p>Cantidad: 1</p>
                </div>
                <div class="ms-auto">
                  <a href="./producto.html">Ver</a>
                </div>
              </li>
              <li class="d-flex mb-3">
                <div class="me-auto">
                  <p>Producto</p>
                </div>
                <div>
                  <p>Cantidad: 1</p>
                </div>
                <div class="ms-auto">
                  <a href="./producto.html">Ver</a>
                </div>
              </li>
              <li class="d-flex mb-3">
                <div class="me-auto">
                  <p>Producto</p>
                </div>
                <div>
                  <p>Cantidad: 1</p>
                </div>
                <div class="ms-auto">
                  <a href="./producto.html">Ver</a>
                </div>
              </li>
            </ul>
            <div class="d-grid gap-2 mx-auto">
              <a href="#" type="button" class="btn btn-primary">Comprar ahora</a>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-1"></div>
      </div>
      {% endblock %}
