{% extends "main.html" %}
{% import 'macros/bolson.html' as macro %}
{% block content %}
<div class="row">
  <div class="col-md-1 col-sm-1"></div>
  <div class="col-md-10 col-sm-1 border border-1 p-1">
    <h3>Bolsones</h3>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-todos-tab" data-bs-toggle="tab" data-bs-target="#nav-todos" type="button" role="tab" aria-controls="nav-todos" aria-selected="true">Todos</button>
        <button class="nav-link" id="nav-pendientes-tab" data-bs-toggle="tab" data-bs-target="#nav-pendientes" type="button" role="tab" aria-controls="nav-pendientes" aria-selected="false">Pendientes</button>
        <button class="nav-link" id="nav-previos-tab" data-bs-toggle="tab" data-bs-target="#nav-previos" type="button" role="tab" aria-controls="nav-previos" aria-selected="false">Previos</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane p-1 fade show active" id="nav-todos" role="tabpanel" aria-labelledby="nav-todos-tab">
        <div class="row">
          <div class="col-md-9 col-sm-6"></div>
          <div class="col-md-2 col-sm-6">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item active " aria-current="page">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-md-1 col-sm-1"></div>
        </div>
        <div class="row">
          <div class="col-md-1 col-sm-1"></div>
          <div class="col-md-10 col-sm-1 border border-1">
            <table class="table align-middle">
              <thead>
                <tr>
                  <th scope="col">Bolsón</th>
                  <!-- <th scope="col"></th> -->
                  <th scope="col">Fecha</th>
                  <th scope="col">Aprobado</th>
                  <th scope="col">Precio</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for bolson in bolsones %}
                {{ macro.bolsones(bolson, user) }}
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-md-1 col-sm-1"></div>
        </div>
        <br/>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="tab-pane fade p-1" id="nav-pendientes" role="tabpanel" aria-labelledby="nav-pendientes-tab">
        <div class="row">
          <div class="col-md-10 col-sm-6">
            <a href="{{url_for('bolsones.crear')}}" type="button" class="btn btn-success ">Crear bolsón</a>
          </div>
          <div class="col-md-2 col-sm-6">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item active " aria-current="page">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-sm-1"></div>
          <div class="col-md-10 col-sm-1 border border-1">
            <table class="table align-middle">
              <thead>
                <tr>
                  <th scope="col">Bolsón</th>
                  <!-- <th scope="col"></th> -->
                  <th scope="col">Fecha</th>
                  <th scope="col">Aprobado</th>
                  <th scope="col">Precio</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for bolson in pendientes %}
                {{ macro.pendientes(bolson) }}
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-md-1 col-sm-1"></div>
        </div>
        <br/>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="tab-pane fade p-1" id="nav-previos" role="tabpanel" aria-labelledby="nav-previos-tab">
        <div class="row">
          <div class="col-md-9 col-sm-6"></div>
          <div class="col-md-2 col-sm-6">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item active " aria-current="page">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-md-1 col-sm-1"></div>
        </div>
        <div class="row">
          <div class="col-md-1 col-sm-1"></div>
          <div class="col-md-10 col-sm-1 border border-1">
            <table class="table align-middle">
              <thead>
                <tr>
                  <th scope="col">Bolsón</th>
                  <!-- <th scope="col"></th> -->
                  <th scope="col">Fecha</th>
                  <th scope="col">Aprobado</th>
                  <th scope="col">Precio</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for bolson in previos %}
                {{ macro.bolsones(bolson, user) }}
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-md-1 col-sm-1"></div>
        </div>
        <br/>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-md-1 col-sm-1"></div>
</div>
{% endblock %}
