{% extends "main.html" %}
{% import 'macros/compras.html' as macro %}
{% block content %}
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-1 border border-1 p-1">
          <h3>Compras</h3>
          <div class="row">
            <div class="col-md-10 col-sm-6"></div>
            <div class="col-md-2 col-sm-6">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item active " aria-current="page">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col-md-1 col-sm-1"></div>
          <div class="row">
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-10 col-sm-1">
              <table class="table align-middle">
                <thead>
                  <tr>
                    <th scope="col">N° de Compra</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Retirado</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for compra in compras %}
                  {{macro.compras(compra)}}
                  {% endfor %}
                  <!-- <tr>
                    <td>#00001</td>
                    <td>12 Feb 2021 - 10:30hs</td>
                    <td>Nombre cliente</td>
                    <td><a href="#" class="btn btn-primary">Ver</a></td>
                    <td>
                      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Eliminar
                      </button>
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Eliminar compra</h5>
                            </div>
                            <div class="modal-body">
                              ¿Está seguro que quiere eliminar el compra?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                          </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>#00001</td>
                    <td>12 Feb 2021 - 10:30hs</td>
                    <td>Nombre cliente</td>
                    <td><a href="#" class="btn btn-primary">Ver</a></td>
                    <td>
                      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Eliminar
                      </button>
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Eliminar compra</h5>
                            </div>
                            <div class="modal-body">
                              ¿Está seguro que quiere eliminar el compra?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                          </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>#00001</td>
                    <td>12 Feb 2021 - 10:30hs</td>
                    <td>Nombre cliente</td>
                    <td><a href="#" class="btn btn-primary">Ver</a></td>
                    <td>
                      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Eliminar
                      </button>
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Eliminar compra</h5>
                            </div>
                            <div class="modal-body">
                              ¿Está seguro que quiere eliminar el compra?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                          </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>#00001</td>
                    <td>12 Feb 2021 - 10:30hs</td>
                    <td>Nombre cliente</td>
                    <td><a href="#" class="btn btn-primary">Ver</a></td>
                    <td>
                      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Eliminar
                      </button>
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Eliminar compra</h5>
                            </div>
                            <div class="modal-body">
                              ¿Está seguro que quiere eliminar el compra?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                          </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>#00001</td>
                    <td>12 Feb 2021 - 10:30hs</td>
                    <td>Nombre cliente</td>
                    <td><a href="#" class="btn btn-primary">Ver</a></td>
                    <td>
                      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Eliminar
                      </button>
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Eliminar compra</h5>
                            </div>
                            <div class="modal-body">
                              ¿Está seguro que quiere eliminar el compra?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                          </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>#00001</td>
                    <td>12 Feb 2021 - 10:30hs</td>
                    <td>Nombre cliente</td>
                    <td><a href="#" class="btn btn-primary">Ver</a></td>
                    <td>
                      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Eliminar
                      </button>
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Eliminar compra</h5>
                            </div>
                            <div class="modal-body">
                              ¿Está seguro que quiere eliminar el compra?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                          </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>#00001</td>
                    <td>12 Feb 2021 - 10:30hs</td>
                    <td>Nombre cliente</td>
                    <td><a href="#" class="btn btn-primary">Ver</a></td>
                    <td>
                      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Eliminar
                      </button>
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Eliminar compra</h5>
                            </div>
                            <div class="modal-body">
                              ¿Está seguro que quiere eliminar el compra?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                          </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>#00001</td>
                    <td>12 Feb 2021 - 10:30hs</td>
                    <td>Nombre cliente</td>
                    <td><a href="#" class="btn btn-primary">Ver</a></td>
                    <td>
                      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Eliminar
                      </button>
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Eliminar compra</h5>
                            </div>
                            <div class="modal-body">
                              ¿Está seguro que quiere eliminar el compra?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                          </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>#00001</td>
                    <td>12 Feb 2021 - 10:30hs</td>
                    <td>Nombre cliente</td>
                    <td><a href="#" class="btn btn-primary">Ver</a></td>
                    <td>
                      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Eliminar
                      </button>
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Eliminar compra</h5>
                            </div>
                            <div class="modal-body">
                              ¿Está seguro que quiere eliminar el compra?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                          </div>
                        </div>
                    </td>
                  </tr> -->
                </tbody>
              </table>
            </div>
            <div class="col-md-1 col-sm-1"></div>
              <br/>
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div> 
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
{% endblock %}
