{% extends "main.html" %}
{% from "macros/form_macros.html" import MostrarCampo, MostrarEnvio %}
{% import "macros/usuarios.html" as macro %}
{% block content %}
<div class="row">
  <div class="col-md-1 col-sm-1"></div> 
  <div class="col-md-10 col-sm-1 border border-1">
    <div style="padding: 30px">
      <h3>Mi cuenta</h3>
      {% if current_user.role == 'admin' %}
      <form method="POST" action="{{url_for('usuarios.admin', id=usuario.id)}}">
      {% elif current_user.role == 'cliente' %}
      <form method="POST" action="{{url_for('usuarios.cliente', id=usuario.id)}}">
      {% endif %}
      {{ macro.perfil(usuario, formulario)}}
      </form>
    </div>
  </div>
  <div class="col-md-1 col-sm-1"></div>
</div>
{% endblock %}
