{% extends "main.html" %}
{% from "macros/form_macros.html" import MostrarCampo, MostrarEnvio %}
{% block content %}
<div class="row">
        <div class="col-md-4 col-sm-1"></div>
        <div class="col-md-4 col-sm-1 border border-1">
          <div style="padding: 30px">
            <h3>Ingresar</h3>
            <form method="POST" action="{{url_for('usuarios.ingresar')}}">
              <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
              <div class="mb-3">
                {{MostrarCampo(formulario.email, class="form-control")}}
              </div>
              <div class="mb-3">
                {{MostrarCampo(formulario.password, class="form-control")}}
              </div>
              <div class="d-grid gap-2">
                {{MostrarEnvio(formulario.envio, class="btn btn-primary")}}
              </div>
              </br>
              <div class="mb-3 text-center">
                <a class="text-muted text-decoration-none" href="#">¿Olvidaste tu contraseña?</a>
                <a class="text-muted text-decoration-none" href="{{url_for('usuarios.registrar')}}">Registrarse</a>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-4 col-sm-1"></div>
      </div>
{% endblock %}
