{# from 'macros/form.html' import show_field_login, show_submit #}
<!DOCTYPE html> -->
<html lang="es">
  <head>
    <title>Inicio</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" href="https://via.placeholder.com/10" type="image/png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"/>
  </head>
  <body>
    {% block menu %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="./index.html"><img src="https://via.placeholder.com/70x40"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('main.index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('main.ayuda')}}">Ayuda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('main.nosotros')}}">Nosotros</a>
            </li>
            {% if current_user.is_authenticated and current_user.role == "admin" %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Administrar
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{url_for('bolsones.ver_todos')}}">Bolsones</a></li>
                <li><a class="dropdown-item" href="{{url_for('bolsones.ver_pendientes')}}">Bolsones pendientes</a></li>
                <li><a class="dropdown-item" href="{{url_for('bolsones.ver_previos')}}">Bolsones previos</a></li>
                <li><a class="dropdown-item" href="{{url_for('productos.ver_todos')}}">Productos</a></li>
                <li><a class="dropdown-item" href="{{url_for('proveedores.ver_todos')}}">Proveedores</a></li>
                <li><a class="dropdown-item" href="{{url_for('usuarios.ver_clientes')}}">Clientes</a></li>
                <li><a class="dropdown-item" href="{{url_for('compras.ver_todas')}}">Compras</a></li>
              </ul>
            </li>
          </ul>
          <span class="nav-item">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{current_user.email}}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li>
                    <div class="d-grid gap-2 col-10 mx-auto">
                      <a href="{{url_for('usuarios.admin', id=current_user.id)}}" type="button" class="btn btn-primary">Mi cuenta</a>
                    </div>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <div class="d-grid gap-2 col-10 mx-auto">
                      <a href="{{url_for('main.logout')}}" type="button" class="btn btn-primary">Cerrar sesión</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </span>
            {% elif current_user.is_authenticated and current_user.role == "proveedor" %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Administrar
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{url_for('productos.ver_todos')}}">Productos</a></li>
                <li><a class="dropdown-item" href="{{url_for('bolsones.ver_pendientes')}}">Bolsones Pendientes</a></li>
              </ul>
            </li>
          </ul>
          <span class="nav-item">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{current_user.email}}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li>
                    <div class="d-grid gap-2 col-10 mx-auto">
                      <a href="{{url_for('usuarios.proveedor', id=current_user.id)}}" type="button" class="btn btn-primary">Mi cuenta</a>
                    </div>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <div class="d-grid gap-2 col-10 mx-auto">
                      <a href="{{url_for('main.logout')}}" type="button" class="btn btn-primary">Cerrar sesión</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </span>
          {% elif current_user.is_authenticated %}
          </ul>
          <span class="nav-item">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{current_user.email}}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li>
                    <div class="d-grid gap-2 col-10 mx-auto">
                      <a href="{{url_for('usuarios.cliente', id=current_user.id)}}" type="button" class="btn btn-primary">Mi cuenta</a>
                      <a href="{{url_for('compras.mis_compras')}}" type="button" class="btn btn-primary">Mis compras</a>
                    </div>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <div class="d-grid gap-2 col-10 mx-auto">
                      <a href="{{url_for('main.logout')}}" type="button" class="btn btn-primary">Cerrar sesión</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </span>
            {% else %}
          </ul>
          <span class="nav-item">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Login
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li>
                    <div class="d-grid gap-2 col-10 mx-auto">
                      <a href="{{url_for('usuarios.ingresar')}}" type="button" class="btn btn-primary">Ingresar</a>
                      <a href="{{url_for('usuarios.registrar')}}" type="button" class="btn btn-primary">Registrarse</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </span>
          {% endif %}
        </div>
      </div>
    </nav>
    {% endblock %}
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{category}} alert-dismissible fade show d-flex" role="alert">
                    <div class="col-md-6 d-flex">
                      {{message}}
                    </div>
                    <div class="col-md-6 d-flex justify-content-end" role="alert">
                      <button type="button" class="btn btn-close" data-dismiss="alert" aria-label="Close">
                      </button>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>
        </div>
      </div>
      {% block content %}
      {% endblock %}
      <br/>
      <br/>
      <br/>
      <footer class="page-footer border-top pt-4 my-md-5 pt-md-5">
        <div class="row">
          <div class="col-md-8 col-sm-1">
            <h5>Seguinos</h5>
            <ul class="list-unstyled text-small">
              <li>
                <a class="text-muted" href="https://www.facebook.com/um.sanrafael/" target="_blank"><img src="https://img.icons8.com/ios-filled/30/000000/facebook--v1.png"/></a>
                <a class="text-muted" href="https://www.instagram.com/umsedesanrafael/" target="_blank"><img src="https://img.icons8.com/ios-filled/30/000000/instagram-new.png"/></a>
                <a class="text-muted" href="https://twitter.com/udemendoza" target="_blank"><img src="https://img.icons8.com/ios-glyphs/30/000000/twitter.png"/></a>
              </li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-1">
            <h5>Nosotros</h5>
            <ul class="list-unstyled text-small">
              <li>
                <a class="text-muted text-decoration-none" href="{{url_for('main.nosotros')}}">¿Quiénes somos?</a>
              </li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-1">
            <h5>Ayuda</h5>
            <ul class="list-unstyled text-small">
              <li>
                <a class="text-muted text-decoration-none" href="{{url_for('main.retiro')}}">Zona de retiro</a>
              </li>
              <li>
                <a class="text-muted text-decoration-none" href="{{url_for('main.ayuda')}}">Preguntas frecuentes</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    {% block scripts %}
    <!-- CDN Jquery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <!-- CDN Js de Bootstrap-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>
