{% extends 'main.html' %}
{% import 'macros/compras.html' as macro %}
{% block content %}
<div class="row">
  <div class="col-md-1 col-sm-1"></div>
  <div class="col-md-8 col-sm-6">
    <h3>Mis Compras</h3>
  </div>
  <div class="col-md-2 col-sm-6">
    <nav aria-label="Pagination">
      <ul class="pagination justify-content-center">
        {% if pagination.current_page != 1 %}
        <li class="page-item">
          <a class="page-link" href="{{url_for('compras.mis_compras', page = (pagination.current_page-1))}}">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
        {% for n in range(1, pagination.pages+1) %}
        {% if n != pagination.current_page %}
        <li class="page-item" aria-current="page">
          <a class="page-link" href="{{url_for('compras.mis_compras', page = n)}}">{{n}}</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">{{n}}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if pagination.current_page != pagination.pages %}
        <li class="page-item">
          <a class="page-link" href="{{url_for('compras.mis_compras', page = (pagination.current_page+1))}}">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <div class="col-md-1 col-sm-1"></div>
</div>
<div class="row">
  <div class="col-md-1 col-sm-1"></div>
  <div class="col-md-10 col-sm-1 border border-1">
    <table class="table align-middle">
      <thead>
        <tr>
          <th scope="col">N° de compra</th>
          <th scope="col">Bolsón</th>
          <th scope="col">Fecha</th>
          <th scope="col">Retirado</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        {% for compra in compras %}
        {{ macro.mis_compras(compra) }}
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-1 col-sm-1"></div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-1">
  <br/>
    <nav aria-label="Pagination">
      <ul class="pagination justify-content-center">
        {% if pagination.current_page != 1 %}
        <li class="page-item">
          <a class="page-link" href="{{url_for('compras.mis_compras', page = (pagination.current_page-1))}}">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
        {% for n in range(1, pagination.pages+1) %}
        {% if n != pagination.current_page %}
        <li class="page-item" aria-current="page">
          <a class="page-link" href="{{url_for('compras.mis_compras', page = n)}}">{{n}}</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">{{n}}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if pagination.current_page != pagination.pages %}
        <li class="page-item">
          <a class="page-link" href="{{url_for('compras.mis_compras', page = (pagination.current_page+1))}}">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
</div>
</div>
{% endblock %}
