{% extends "main.html" %}
{% block content %}
<div class="row">
  <div class="col-md-1 col-sm-1"></div> 
  <div class="col-md-10 col-sm-1 border border-1">
    <div style="padding: 30px">
      <h3>Crear Proveedor</h3>
      <form>
        <div class="row mb-3">
          <div class="col">
            <label for="validationCustom01" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Ej: Lucas" value="Juan" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col">
            <label for="validationCustom02" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Ej: Ollarce" value="Perez" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ej: l.ollarce@example.com" value="j.perez@mail.com" aria-describedby="emailHelp">
          </div>
          <div class="col">
            <label for="validationCustom01" class="form-label">Teléfono</label>
            <input type="tel" class="form-control" id="validationCustom03" placeholder="Ej: 2604000000" value="2604000000" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="inputPassword5" class="form-label">Contraseña</label>
            <input type="password" id="inputPassword5" class="form-control" placeholder="***********" value="contraseña" aria-describedby="passwordHelpBlock">
          </div>
          <div class="col d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-primary m-1">Guardar cambios</button>
            <span></span>
            <button class="btn btn-primary m-1" type="button" onclick="history.back()">Volver</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-1 col-sm-1"></div>
</div>
{% endblock %}
