{% extends "main.html" %}
{% block content %}
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-1">
          <h3>¿Quiénes somos?</h3>
          </br>
          <p>
            Ipsum temporibus corrupti placeat quod fugit minima Eius et voluptas provident dolorum maiores. 
          </p>
          <p>
            Perferendis temporibus suscipit quis voluptatem vit
            e Iusto eos exercitationem fugit ducimus itaque nemo repudiandae? Accusantium at repellat
            Dolor amet numquam ipsum at dicta.
          </p>
          <p>
            Repellendus perferendis blanditiis eius officiis voluptatem assumenda Maiores facilis eos quo consectetur voluptatibus. Natus in quisquam molestias quibusdam itaque ab.
          </p>
          <p>
            Quibusdam repellendus possimus inventore
Lorem laborum sit id cumque obcaecati, molestiae. 
          </p>
          <p>
Molestias mollitia repellat assumenda laborum nulla, vel. 
Animi aut fugiat nesciunt necessitatibus sit? Dolorem fugit perferendis soluta inventore accusamus? Praesentium ex earum aliquam
Adipisicing quam libero officia esse sapiente? Incidunt magnam suscipit libero sed qui Eos fuga quae sap  iente nam modi Porro aliquam harum nostrum nemo dignissimos! Vitae iusto fugiat quae commodi atque?
          </p>
        </div>
        <div class="col-md-1 col-sm-1"></div>
{% endblock %}
