{% extends "main.html" %}
{% block content %}
<div class="row">
  <div class="col-md-1 col-sm-1"></div>
  <div class="col-md-10 col-sm-1">
    <h3>Ayuda</h3>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            ¿Cómo comprar?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Maecenas id eros turpis. Integer posuere imperdiet orci nec ultricies. Curabitur sagittis auctor enim non iaculis. In tristique et ante at 
            commodo. Duis luctus nisl eu varius pellentesque. Etiam viverra, erat sit amet ornare interdum, odio nisi egestas orci, eu tempus ex felis 
            at est. Pellentesque sit amet venenatis lectus. Vivamus maximus lorem sed enim sollicitudin, non pulvinar eros pretium. Nulla elementum justo 
            sed mi feugiat, sed dapibus augue mattis. Morbi laoreet pretium consectetur.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Preguntas frecuentes
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Quisque blandit sit amet tortor eu posuere. Nunc ut sodales risus. Fusce rutrum enim eu blandit efficitur. Sed porttitor lorem eu diam 
            molestie dapibus. Vestibulum eros nunc, consectetur vitae tellus sit amet, viverra aliquet arcu. Curabitur nunc felis, accumsan et urna 
            sed, scelerisque eleifend ante. Donec varius libero ac eros aliquet, et lacinia odio fringilla. Integer efficitur quis quam in consequat. 
            Integer ut libero ac enim sagittis ultricies. Proin quis leo non ante congue rutrum eu et libero. Aenean nisl risus, cursus a suscipit non, 
            semper et massa. Integer ac ultrices lorem. Pellentesque lectus justo, ultrices sit amet ante in. 
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Arrepentimiento de compra
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Nam non justo non eros ullamcorper mollis. Nullam sed turpis erat. Vivamus posuere velit at justo posuere ornare. Maecenas et justo vitae 
            nisl consequat maximus interdum vitae ante. Sed vehicula egestas ante at efficitur. Nulla feugiat leo nunc, at fringilla est ultrices eu. 
            Cras non ante libero. Fusce ut ipsum sollicitudin, aliquam tellus elementum, ultricies velit. Nullam rutrum nisl auctor urna gravida 
            accumsan. Aenean leo massa, varius eget tincidunt convallis, imperdiet commodo ligula. Fusce volutpat rhoncus felis, et aliquam mi 
            pellentesque vel. Sed ac congue nulla, accumsan dignissim leo. Aliquam erat volutpat. Ut ultrices ipsum et fringilla hendrerit. Aliquam erat. 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1 col-sm-1"></div>
{% endblock %}
