{% extends "main.html" %}
{% import 'macros/producto.html' as macro %}
{% from 'macros/form_macros.html' import MostrarCampo, MostrarEnvio %}
{% block content %}
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-1 border border-1 p-1">
          <h3>Productos</h3>
          <div class="row">
            <div class="col-md-5 col-sm-6">
              {% if current_user.role == 'proveedor' %}
              <a href="{{url_for('productos.crear')}}" type="button" class="btn btn-success ">Crear Producto</a>
              {% endif %}
            </div>
            <div class="col-md-5 col-sm-1">
              <form method="GET" action="{{url_for('productos.ver_todos')}}">
                <div class="form-row">
                  <div class="form-group col-md-3">
                    {{ MostrarCampo(filter.proveedorid, class="form-control")}}
                  </div>
                  <div class="form-group col-md-2">
                    {{ MostrarEnvio(filter.envio, class="btn btn-success")}}
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-2 col-sm-6">
              <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                  {%if pagination.current_page != 1 %}
                  <li class="page-item">
                    <a class="page-link" href="{{url_for('productos.ver_todos', page = (pagination.current_page-1), proveedorid = request.args.proveedorid)}}">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  {% endif %}
                  {% for n in range(1, pagination.pages+1) %}
                    {% if n != pagination.current_page %}
                      <li class="page-item" aria-current="page">
                        <a class="page-link" href="{{url_for('productos.ver_todos', page = n, proveedorid = request.args.proveedorid)}}">{{n}}</a>
                      </li>
                    {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">{{n}}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                  {% if pagination.current_page != pagination.pages %}
                    <li class="page-item">
                      <a class="page-link" href="{{url_for('productos.ver_todos', page = (pagination.current_page+1), proveedorid = request.args.proveedorid)}}">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </nav>
            </div>
            <div class="col-md-1 col-sm-1"></div>
          <div class="row">
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-10 col-sm-1">
              <table class="table align-middle">
                <thead>
                  <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for producto in productos %}
                  {{macro.productos(producto)}}
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="col-md-1 col-sm-1"></div>
              <br/>
              <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                  {%if pagination.current_page != 1 %}
                  <li class="page-item">
                    <a class="page-link" href="{{url_for('productos.ver_todos', page = (pagination.current_page-1))}}">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  {% endif %}
                  {% for n in range(1, pagination.pages+1) %}
                    {% if n != pagination.current_page %}
                      <li class="page-item" aria-current="page">
                        <a class="page-link" href="{{url_for('productos.ver_todos', page = n)}}">{{n}}</a>
                      </li>
                    {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">{{n}}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                  {% if pagination.current_page != pagination.pages %}
                    <li class="page-item">
                      <a class="page-link" href="{{url_for('productos.ver_todos', page = (pagination.current_page+1))}}">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </nav>
            </div> 
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
{% endblock %}
