<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Ingresar</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="./index.html"><img src="https://via.placeholder.com/70x40"></a>
      </div>
    </nav>
    </br>
    </br>
    </br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-sm-1"></div>
        <div class="col-md-4 col-sm-1 position-absolute top-50 start-50 translate-middle">
          <div class="justify-content-center" style="padding: 30px">
            <h5 style="text-align:center">Registro realizado exitosamente</h5>
            <div class="d-flex justify-content-center gap-3">
              <button type="submit" class="btn btn-primary">Ingresar</button>
            </div>
            </br>
          </div>
        </div>
        <div class="col-md-4 col-sm-1"></div>
      </div>
    </div>
  </body>
</html>
