{% extends "main.html" %}
{% block content %}
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-1">
          <h3>Zona de retiro</h3>
          <div class="row">
            <div class="col-md-8 col-sm-1">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2682.576135953342!2d-68.32892215559427!3d-34.6138502022549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967907fb83d8ff41%3A0xc950900df2c99fb6!2sUniversidad%20de%20Mendoza%20Sede%20San%20Rafael!5e0!3m2!1ses-419!2sar!4v1637670411412!5m2!1ses-419!2sar" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="col-md-4 col-sm-1">
              <h5>Calle:</h5>
              <p>Bernardo de Irigoyen 99</p>
              <h5>Horarios:</h5>
              <p>Lunes a Viernes</p>
              <p>Mañana: 9.00 a 12:30hs</p>
              <p>Tarde: 16:30 a 20hs</p>
            </div>
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
{% endblock %}
